
<!DOCTYPE HTML>
<html>
<script type= "text/javascript">var isBuilderMode =false; var winFixWidth = 1024, winFixHeight = 768; var ResizePolicy = 3;</script>
<head>
	<title>New Project-EMP.VRP3D.COM</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0'>
	<meta name="apple-touch-fullscreen" content="YES">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<script src="/templates/car3_1/min.empcommon/jquery-1.11.3.min.js" type="text/javascript"></script>
	<script src="/templates/car3_1/build/three.js"></script>
	<script src="/templates/car3_1/min.empcommon/TrackballControls.min.js" type="text/javascript"></script>
	<script src="/templates/car3_1/build/JsonIndexLoader.js"></script>
	<script src="/templates/car3_1/min.empcommon/empBuilder.min.js" type="text/javascript"></script>
	<script src="/templates/car3_1/min.empcommon/empRuntime.min.js" type="text/javascript"></script>
	<script src="/templates/car3_1/min.empcommon/animo.min.js" type="text/javascript"></script>
	<script src="/templates/car3_1/min.empcommon/stats.min.js" type="text/javascript"></script>
	<script src="/templates/car3_1/min.empcommon/Detector.min.js" type="text/javascript"></script>
	<script src="/templates/car3_1/min.empcommon/Tween.min.js" type="text/javascript"></script>
	<link href="/templates/car3_1/min.empcommon/animate-animo.css" rel="stylesheet" type="text/css">
	<script src="/templates/car3_1/min.empcommon/jgestures.min.js"  type="text/javascript"></script>
	<script src="/templates/car3_1/min.empcommon/pageSwitch.min.js"  type="text/javascript"></script>
</head>

<body style="position:absolute;  background-color:#3a3a3a; background-image:url('/templates/car3_1/resources/汽车展示合_图层0.png');background-size:100% 100%;background-repeat:no-repeat; background-attachment:fixed; margin-top: 0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;-webkit-touch-callout:none;-webkit-user-select:none;">
</body>
</html>

<script type="text/javascript">
 var EmpFirstShowPage = { 'pages':['328025549-555962254-2129857797-1769827767','END'],'first':0}; 
 var PageInitFunc = {}; 
 var PageExitFunc = {};  

   window.addEventListener("load",  (function(){ if( PageInitFunc['328025549-555962254-2129857797-1769827767'] ) PageInitFunc['328025549-555962254-2129857797-1769827767'](); } ), false);  
</script>
<script type= "text/javascript">
(function(){ /* page:  汽车展示合_1 */
    var pageElement = empGetElementByID('328025549-555962254-2129857797-1769827767', 'div', null);   
    pageElement.style.cssText = " background-color:rgba(138,0,0,0);position:absolute;margin:0px 0px 0px 0px ;width:1024px;height:768px;  z-index: 1;overflow:hidden;display:none;";   
 PageInitFunc['328025549-555962254-2129857797-1769827767'] = (function(){  empShowElementByID('1421555384-1552117900-707152488-937763923', 'hidden');  empShowElementByID('1691582227-1485258816-650407005-2039880589', 'visible');  empShowElementByID('513083203-513561875-706164739-1153835674', 'hidden');  _124324387819802023771476550153307121760.enable();  } ); 
 PageExitFunc['328025549-555962254-2129857797-1769827767'] = (function(){  _124324387819802023771476550153307121760.disable();  } );  
})();

(function(){ /*  3DScene:  3D场景_1  */ 					 
    var pageElement213 = empGetElementByID('328025549-555962254-2129857797-1769827767', 'div', null);  					 
    var itemElement = empGetElementByID('1243243878-1980202377-1476550153-307121760', 'div', pageElement213); 					 
    pageElement213.appendChild(itemElement); 					 
    itemElement.style.cssText = "pointer-events:auto;position:absolute;left:0px;top:0px;width:1024px;height:768px;opacity:1;transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-o-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform:translate(0px,0px) rotate(0deg) skew(0deg,0deg) scale(1,1);  z-index:8;";  					 
 })();  					 
 var _124324387819802023771476550153307121760 = create3dScene('1243243878-1980202377-1476550153-307121760', 1024, 768, 0xffffff,0 ); 
 if( _124324387819802023771476550153307121760) {
  (function(){  

 var EmpCamera = _124324387819802023771476550153307121760.camera; 		   
 EmpCamera.fov = 45;  EmpCamera.near  = 1;  EmpCamera.far = 10000; 	   		   
 EmpCamera.position.set( 47,13,33 );  EmpCamera.lookAt( 0,0,0 );  EmpCamera.up.set( 0,1,0 );   		   
	 //_124324387819802023771476550153307121760.controls.target.set(  0,0,0 ) ; 
	 _124324387819802023771476550153307121760.controls.maxDistance = 1000 ; 		   
 EmpCamera.updateProjectionMatrix();  	})();
 
	 _124324387819802023771476550153307121760.loadEmpObjs('/templates/car3_1/tsinghua2/index.js' );

 (function(){ 		   
	 var defaultLight = _124324387819802023771476550153307121760.findObjectByName('_1433554002181051684713614094411073901394'); 		   
	 if( !defaultLight) {	   		   
			defaultLight = new THREE.AmbientLight( 0xaaaaaa ); 	defaultLight.name = '_1433554002181051684713614094411073901394'; 		   
			_124324387819802023771476550153307121760.addObject( defaultLight); 		   
	 } 		   
	 else { 		   
			defaultLight.color.set( 0xaaaaaa ); 		   
	 }		   
			defaultLight.visible = true;    		   
	})();
 (function(){ 		   
	 var defaultLight = _124324387819802023771476550153307121760.findObjectByName('_1413231199170667129609714301060068242'); 		   
	 if( !defaultLight) {	   		   
			defaultLight = new THREE.DirectionalLight( 0xffffff, 0.7 ); 	defaultLight.name = '_1413231199170667129609714301060068242'; 		   
			_124324387819802023771476550153307121760.addObject( defaultLight); 		   
	 } 		   
	 else { 		   
			defaultLight.color.set( 0xffffff );  defaultLight.intensity = 0.5; 		   
	 }		   
		   defaultLight.visible = true;     
 
 })(); 
 
(function(){ /* imagediv:  汽车展示合_红色  */ 
    var pageElement213 = empGetElementByID('328025549-555962254-2129857797-1769827767', 'div', null);  
    var itemElement = empGetElementByID('1069485067-250438055-1598434611-914172707', 'div', pageElement213); 
    pageElement213.appendChild(itemElement); 
    itemElement.style.cssText = "pointer-events:auto; background-image:url('resources/汽车展示合_红色.png');background-repeat:no-repeat;background-position:center center;position:absolute;left:227px;top:694px;width:142px;height:50px;opacity:1;transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-o-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform:translate(0px,0px) rotate(0deg) skew(0deg,0deg) scale(1,1);  z-index:10;";  
    jQuery('#1069485067-250438055-1598434611-914172707').bind('tapone',  function(event){  empShowElementByID('1421555384-1552117900-707152488-937763923', 'hidden');  empShowElementByID('1691582227-1485258816-650407005-2039880589', 'hidden');  empShowElementByID('513083203-513561875-706164739-1153835674', 'visible');  var chemat = _124324387819802023771476550153307121760.getMaterialByObjName('Mesh12'); if(chemat) { chemat.color.setRGB(1.0, 0.05, 0 ); } } );
})();

(function(){ /* imagediv:  汽车展示合_红色点击  */ 
    var pageElement213 = empGetElementByID('328025549-555962254-2129857797-1769827767', 'div', null);  
    var itemElement = empGetElementByID('513083203-513561875-706164739-1153835674', 'div', pageElement213); 
    pageElement213.appendChild(itemElement); 
    itemElement.style.cssText = "pointer-events:auto;visibility:hidden; background-image:url('resources/汽车展示合_红色点击.png');background-repeat:no-repeat;background-position:center center;position:absolute;left:227px;top:694px;width:142px;height:50px;opacity:1;transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-o-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform:translate(0px,0px) rotate(0deg) skew(0deg,0deg) scale(1,1);  z-index:20;";  
})();

(function(){ /* imagediv:  汽车展示合_黑色  */ 
    var pageElement213 = empGetElementByID('328025549-555962254-2129857797-1769827767', 'div', null);  
    var itemElement = empGetElementByID('1169492942-1001796626-1186078697-343038974', 'div', pageElement213); 
    pageElement213.appendChild(itemElement); 
    itemElement.style.cssText = "pointer-events:auto; background-image:url('resources/汽车展示合_黑色.png');background-repeat:no-repeat;background-position:center center;position:absolute;left:440px;top:694px;width:143px;height:50px;opacity:1;transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-o-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform:translate(0px,0px) rotate(0deg) skew(0deg,0deg) scale(1,1);  z-index:30;";  
    jQuery('#1169492942-1001796626-1186078697-343038974').bind('',tapone  function(event){  empShowElementByID('1421555384-1552117900-707152488-937763923', 'hidden');  empShowElementByID('1691582227-1485258816-650407005-2039880589', 'visible');  empShowElementByID('513083203-513561875-706164739-1153835674', 'hidden'); var chemat = _124324387819802023771476550153307121760.getMaterialByObjName('Mesh12'); if(chemat) { chemat.color.setRGB(0.1, 0.1, 0.1 ); }  } );
})();

(function(){ /* imagediv:  汽车展示合_黑色点击  */ 
    var pageElement213 = empGetElementByID('328025549-555962254-2129857797-1769827767', 'div', null);  
    var itemElement = empGetElementByID('1691582227-1485258816-650407005-2039880589', 'div', pageElement213); 
    pageElement213.appendChild(itemElement); 
    itemElement.style.cssText = "pointer-events:auto;visibility:hidden; background-image:url('resources/汽车展示合_黑色点击.png');background-repeat:no-repeat;background-position:center center;position:absolute;left:440px;top:694px;width:143px;height:50px;opacity:1;transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-o-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform:translate(0px,0px) rotate(0deg) skew(0deg,0deg) scale(1,1);  z-index:40;";  
})();

(function(){ /* imagediv:  汽车展示合_白色  */ 
    var pageElement213 = empGetElementByID('328025549-555962254-2129857797-1769827767', 'div', null);  
    var itemElement = empGetElementByID('1840730172-1510945565-1682865117-1396528295', 'div', pageElement213); 
    pageElement213.appendChild(itemElement); 
    itemElement.style.cssText = "pointer-events:auto; background-image:url('resources/汽车展示合_白色.png');background-repeat:no-repeat;background-position:center center;position:absolute;left:655px;top:694px;width:142px;height:50px;opacity:1;transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-o-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform:translate(0px,0px) rotate(0deg) skew(0deg,0deg) scale(1,1);  z-index:50;";  
    jQuery('#1840730172-1510945565-1682865117-1396528295').bind('tapone',  function(event){  empShowElementByID('1421555384-1552117900-707152488-937763923', 'visible');  empShowElementByID('1691582227-1485258816-650407005-2039880589', 'hidden');  empShowElementByID('513083203-513561875-706164739-1153835674', 'hidden');  var chemat = _124324387819802023771476550153307121760.getMaterialByObjName('Mesh12'); if(chemat) { chemat.color.setRGB(1.0, 1, 1 ); } } );
})();

(function(){ /* imagediv:  汽车展示合_白色点击  */ 
    var pageElement213 = empGetElementByID('328025549-555962254-2129857797-1769827767', 'div', null);  
    var itemElement = empGetElementByID('1421555384-1552117900-707152488-937763923', 'div', pageElement213); 
    pageElement213.appendChild(itemElement); 
    itemElement.style.cssText = "pointer-events:auto;visibility:hidden; background-image:url('resources/汽车展示合_白色点击.png');background-repeat:no-repeat;background-position:center center;position:absolute;left:655px;top:694px;width:142px;height:50px;opacity:1;transform-origin:50% 50%;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-o-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform:translate(0px,0px) rotate(0deg) skew(0deg,0deg) scale(1,1);  z-index:60;";  
})();


}/*addChildrenItems end*/
</script>