/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn-blank {
    background-image: none;
    background-color: transparent;
    color: rgb(170, 170, 170);
}

.btn-blank > p {
    font-size: 30px;
}

iframe {
    width: 100%;
}

.items-sold {
	margin: 15px 0 15px 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .0001) 100%);
    background-clip: content-box;
    height: 250px;
    cursor: pointer;
}

.items-sold > p {
	height: 80%;
}
.items-sold > p > span > img {
	padding: 15px;
	max-width: 100%;
	max-height: 100%;
}
.items-sold > div{
	height: 20%;
	text-align: center;
}

.modal-xl{
    width: 1200px;
}

.bs-example{
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}

.bs-example > form > .input-group{
    margin: 10px;
}