<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>新电商</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/templates/apple-touch-icon.png">
    <link rel="shortcut icon" href="/templates/favicon.ico">
    <link rel="bookmark" href="/templates/favicon.ico">
    <link rel="stylesheet" href="/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="/templates/css/flat-ui.min.css">
    <link rel="stylesheet" href="/templates/css/main.css">
    <style>
    body {
        width: 100%;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div id="desire-step1" class="col-md-4 col-md-offset-4">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="输入需求">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                    <div id="microphone" style="text-align: center;">
                        <table style="width: 100px;height: 100px;position: relative;margin: auto;background-image: url('/templates/img/customer_desire/u9.png');background-size: cover">
                            <tr>
                                <td>
                                    <a style="cursor: pointer;padding: 25px;font-size: 0px;" href="/templates/home_customer_desire_step2_individual.html"></a>
                                </td>
                                <td>
                                    <a style="cursor: pointer;padding: 25px;font-size: 0px;" href="/templates/home_customer_desire_step2_immediate.html"></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a style="cursor: pointer;padding: 25px;font-size: 0px;" href="/templates/home_customer_desire_step2_cycle.html"></a>
                                </td>
                                <td>
                                    <a style="cursor: pointer;padding: 25px;font-size: 0px;" href="/templates/home_customer_desire_step2_predict.html"></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
<script src="/templates/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/templates/js/vendor/bootstrap.min.js"></script>
<script src="/templates/js/vendor/flat-ui.js"></script>
<script src="/templates/js/vendor/video.js"></script>
<script src="/templates/js/vendor/pym.js"></script>
<script src="/templates/js/main.js"></script>
<script>
var pymChild = new pym.Child({
        id: "iframe-customer-desire"
    });
$(document).ready(function() {
    
});
</script>