<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>新电商</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/templates/apple-touch-icon.png">
    <link rel="shortcut icon" href="/templates/favicon.ico">
    <link rel="bookmark" href="/templates/favicon.ico">
    <link rel="stylesheet" href="/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="/templates/css/flat-ui.min.css">
    <link rel="stylesheet" href="/templates/css/main.css">
    <style>
    body {
        width: 100%;
    }
    </style>
</head>

<body>
<h5 style="text-align: center;">我的供应商</h5>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table">
                <tbody>
                    <tr>
                        <td rowspan="2">
                            <a href="/templates/home_customer_discover_step2_supply_talk.html"><img src="/templates/img/customer_discover/u10.gif" style="height: 100px"></a>
                        </td>
                        <td>北京现代汽车有限公司</td>
                        <td rowspan="2" style="text-align: center;vertical-align: middle;">
                            <p><img src="/templates/img/customer_discover/u12.png" style="height: 100px"></p><p>汽车生产商</p><a href="/templates/home_customer_map.html">北京现代汽车有限公司</a>(1/30)</td>
                    </tr>
                    <tr>
                        <td><p>成交了1辆北京现代汽车有限公司的途胜SUV，动态成交价￥210,000</p><small>15分钟前</small></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
<script src="/templates/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/templates/js/vendor/bootstrap.min.js"></script>
<script src="/templates/js/vendor/flat-ui.js"></script>
<script src="/templates/js/vendor/video.js"></script>
<script src="/templates/js/vendor/pym.js"></script>
<script src="/templates/js/main.js"></script>
<script>
$(document).ready(function() {
    var pymChild = new pym.Child({
        id: "iframe-customer-discover"
    });
    var imgnum = $("img").length;
    var count = 0;
    $("img").load(function() {
        count = count + 1;
        if (count == imgnum) {
            pymChild.sendHeight();
        }
    });
});
</script>
