<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>新电商</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/templates/apple-touch-icon.png">
    <link rel="shortcut icon" href="/templates/favicon.ico">
    <link rel="bookmark" href="/templates/favicon.ico">
    <link rel="stylesheet" href="/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="/templates/css/flat-ui.min.css">
    <link rel="stylesheet" href="/templates/css/main.css">
</head>

<body>
    <div id="supply-step2" class="container">
        <div id="underwear">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3">紧身衣设计</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="6">
                            <p style="text-align: center;height: 400px"><img src="/templates/img/customer_supply/u15.gif" alt="" style="height: 100%"></p>
                        </th>
                        <th>产品名称</th>
                        <td>创意图案T恤设计</td>
                    </tr>
                    <tr>
                        <th>品牌</th>
                        <td>Nike</td>
                    </tr>
                    <tr>
                        <th>产品类别</th>
                        <td>T恤</td>
                    </tr>
                    <tr>
                        <th>设计日期</th>
                        <td>xx年xx月xx日</td>
                    </tr>
                    <tr>
                        <th>规格</th>
                        <td>S/M/L</td>
                    </tr>
                    <tr>
                        <th>价格</th>
                        <td>45.00元</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">真实性</div>
                    <div class="panel-body">
                        <p>规范性：<span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span></p>
                        <p>完整性：<span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span></p>
                        <p>时效性：<span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span></p>
                        <p>权威性：<span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">可靠性</div>
                    <div class="panel-body">
                        <p>产品品质：<span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span></p>
                        <p>服务质量：<span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span></p>
                        <p>性能价格：<span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span></p>
                        <p>主观评价：共55条评价</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">信誉值</div>
                    <div class="panel-body">
                        <p>质量证书：<span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></p>
                        <p>主体可信度：<span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></p>
                        <p>违章记录：<span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></p>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="6">信息详情</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>材质成分</th>
                        <td>棉95% 聚氨酯弹性纤维</td>
                        <th>流行元素</th>
                        <td>涂鸦</td>
                        <th>袖长</th>
                        <td>短袖</td>
                    </tr>
                    <tr>
                        <th>货号</th>
                        <td>6168N</td>
                        <th>服装版型</th>
                        <td>修身</td>
                        <th>年份季节</th>
                        <td>XX年春季</td>
                    </tr>
                    <tr>
                        <th>衣长</th>
                        <td>常规款</td>
                        <th>领型</th>
                        <td>V领</td>
                        <th>袖型</th>
                        <td>常规</td>
                    </tr>
                    <tr>
                        <th>风格</th>
                        <td>通勤</td>
                        <th>通勤</th>
                        <td>韩版</td>
                        <th>图案</th>
                        <td>印花</td>
                    </tr>
                    <tr>
                        <th>主要颜色</th>
                        <td>白色 绿色</td>
                        <th>尺码</th>
                        <td>S/M/L</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3">评价</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>买家1</td>
                        <td>好评</td>
                        <td>主要颜色：白色
                            <br>尺码：M</td>
                    </tr>
                    <tr>
                        <td>买家2</td>
                        <td>一般</td>
                        <td>主要颜色：绿色
                            <br>尺码：S</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
    <script src="/templates/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="/templates/js/vendor/bootstrap.min.js"></script>
    <script src="/templates/js/vendor/flat-ui.js"></script>
    <script src="/templates/js/vendor/video.js"></script>
    <script src="/templates/js/main.js"></script>
    <script src="/templates/js/vendor/pym.js"></script>
    <script>
// function check_answer(e) {
//     // highlight the correct answer
//     // send updated height to parent
//     pymChild.sendHeight();
// }
// $('.items-sold').on('click', check_answer);
var pymChild = new pym.Child({id: "example-follow-links"});
// pymChild.sendHeight();
</script>