<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>新电商</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/templates/apple-touch-icon.png">
    <link rel="shortcut icon" href="/templates/favicon.ico">
    <link rel="bookmark" href="/templates/favicon.ico">
    <link rel="stylesheet" href="/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="/templates/css/flat-ui.min.css">
    <link rel="stylesheet" href="/templates/css/main.css">
    <style>
    body {
        width: 100%;
    }
    </style>
</head>

<body>
<img src="/templates/img/customer_discover/u0.gif" alt="" style="width: 100%">
<a class="btn btn-primary btn-lg" href="/templates/home_customer_discover_step2_moment.html" style="position: absolute;top: 40%;left: 15%">我的朋友圈</a>
<a class="btn btn-primary btn-lg" href="/templates/home_customer_discover_step2_client.html" style="position: absolute;top: 20%;left: 35%">我的客户</a>
<a class="btn btn-primary btn-lg" href="/templates/home_customer_discover_step2_supply.html" style="position: absolute;top: 20%;left: 55%">我的供应商</a>
<a class="btn btn-primary btn-lg" href="/templates/home_customer_discover_step2_focus.html" style="position: absolute;top: 40%;left: 75%">我的关注</a>
</body>

</html>
<script src="/templates/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/templates/js/vendor/bootstrap.min.js"></script>
<script src="/templates/js/vendor/flat-ui.js"></script>
<script src="/templates/js/vendor/video.js"></script>
<script src="/templates/js/vendor/pym.js"></script>
<script src="/templates/js/main.js"></script>
<script>
$(document).ready(function() {
    var pymChild = new pym.Child({
        id: "iframe-customer-discover"
    });  
    $("img").load(function() {
        pymChild.sendHeight();
    });
});
</script>
