<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh-CH"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="zh-CH"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="zh-CH"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zh-CH">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>新电商</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/templates/apple-touch-icon.png">
    <link rel="shortcut icon" href="/templates/favicon.ico">
    <link rel="bookmark" href="/templates/favicon.ico">
    <link rel="stylesheet" href="/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="/templates/css/flat-ui.min.css">
    <link rel="stylesheet" href="/templates/css/main.css">
    <style>
    body {
        font-family: "Microsoft YaHei UI";
        min-width: 1200px;
    }
    
    .item > div {
        left: 0px;
        position: absolute;
        transition: left 10s ease-out;
        -moz-transition: left 10s ease-out;
        -webkit-transition: left 10s ease-out;
        -o-transition: left 10s ease-out;
    }
    
    .item + .active> div {
        left: 50px;
    }
    </style>
    <script src="/templates/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--<iframe src="getwebglorg/index.html" width="100%" height="100%" style="position: absolute;top: 0px;"></iframe>-->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container-fluid" style="margin-top: 73px;">
        <div id="psycho" style="background-image: url('/templates/img/image1_u1.gif');background-size: cover;">
            <div id="my-options" class="row">
                <div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                    <button type="button" class="btn btn-blank col-md-12 col-sm-12 col-xs-12" data-toggle="modal" data-target="#myModal1">
                        <img src="/templates/img/my_desire.gif" style="width: 60%">
                        <p><strong>我的需求</strong></p>
                    </button>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <button type="button" class="btn btn-blank col-md-12 col-sm-12 col-xs-12" data-toggle="modal" data-target="#myModal2" id="btn-supply">
                        <img src="/templates/img/my_supply.gif" style="width: 60%">
                        <p><strong>我的供给</strong></p>
                    </button>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <button type="button" class="btn btn-blank col-md-12 col-sm-12 col-xs-12" data-toggle="modal" data-target="#myModal3">
                        <img src="/templates/img/my_discover.gif" style="width: 60%">
                        <p><strong>我的空间</strong></p>
                    </button>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <button type="button" class="btn btn-blank col-md-12 col-sm-12 col-xs-12" data-toggle="modal" data-target="#myModal4">
                        <img src="/templates/img/me.gif" style="width: 60%">
                        <p><strong>我</strong></p>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- 我的需求 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="mydesirelabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="mydesirelabel" style="text-align: center;">我的需求<span><img src="/templates/img/customer_who/me.png"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div id="desire-step1" class="col-md-4 col-md-offset-4">
                                <form>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="输入需求">
                                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                            </span>
                                        </div>
                                        <!-- /input-group -->
                                    </div>
                                    <div id="microphone" style="text-align: center;">
                                        <table style="width: 100px;height: 100px;position: relative;margin: auto;background-image: url('/templates/img/customer_desire/u9.png');background-size: cover">
                                            <tr>
                                                <td>
                                                    <a style="cursor: pointer;padding: 25px;font-size: 0px;" data-desire-type="individual"></a>
                                                </td>
                                                <td>
                                                    <a style="cursor: pointer;padding: 25px;font-size: 0px;" data-desire-type="immediate"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a style="cursor: pointer;padding: 25px;font-size: 0px;" data-desire-type="cycle"></a>
                                                </td>
                                                <td>
                                                    <a style="cursor: pointer;padding: 25px;font-size: 0px;" data-desire-type="predict"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="desire-step2">
                            <div id="individual">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th><strong>输入需求</strong></th>
                                                    <td>现在要定做一件西服送到我家</td>
                                                </tr>
                                                <tr>
                                                    <th><strong>成交结果</strong></th>
                                                    <td>
                                                        <a>北京服装制造厂</a>，西服，1套，动态成交价¥858</td>
                                                </tr>
                                                <tr>
                                                    <th><strong>定制设计</strong></th>
                                                    <td>修身、羊毛与涤纶混纺、蓝色、平驳领、单扣西服</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row" id="cloth-option" style="margin-bottom: 20px">
                                    <div class="col-md-5 col-md-offset-1">
                                        <table class="table" style="text-align: right;">
                                            <tbody>
                                                <tr>
                                                    <th><strong>商品名称</strong></th>
                                                    <td>
                                                        西装
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th><strong>尺寸</strong></th>
                                                    <td>
                                                        <select id="cloth-size" class="form-control select select-inverse select-block">
                                                            <option value="大号" check>大号</option>
                                                            <option value="中号">中号</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th><strong>面料</strong></th>
                                                    <td>
                                                        <select class="form-control select select-inverse select-block">
                                                            <option value="羊毛与涤纶混纺">羊毛与涤纶混纺</option>
                                                            <option value="羊毛与粘胶混纺">羊毛与粘胶混纺</option>
                                                            <option value="纯羊毛精纺">纯羊毛精纺</option>
                                                            <option value="纯羊毛粗纺">纯羊毛粗纺</option>
                                                            <option value="纯化纤仿毛">纯化纤仿毛</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th><strong>颜色</strong></th>
                                                    <td>
                                                        <select class="form-control select select-inverse select-block">
                                                            <option value="蓝色">蓝色</option>
                                                            <option value="灰色">灰色</option>
                                                            <option value="黑色">黑色</option>
                                                            <option value="白色">白色</option>
                                                            <option value="红色">红色</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th><strong>领型</strong></th>
                                                    <td>
                                                        <select class="form-control select select-inverse select-block">
                                                            <option value="平驳领">平驳领</option>
                                                            <option value="戗驳领">戗驳领</option>
                                                            <option value="青果领">青果领</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th><strong>扣型</strong></th>
                                                    <td>
                                                        <select class="form-control select select-inverse select-block">
                                                            <option value="单扣">单扣</option>
                                                            <option value="双扣">双扣</option>
                                                            <option value="三扣">三扣</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-primary btn-block btn-confirm-order">确认订单</button>
                                        <div class="btn-group btn-block" role="group">
                                            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#smart-supply-chain" aria-expanded="false" aria-controls="smart-supply-chain" style="width: 50%">智能供应链</button>
                                            <button class="btn btn-inverse" type="button" data-toggle="collapse" data-target="#supply-chain" aria-expanded="false" aria-controls="supply-chain" style="width: 50%">主动供应链</button>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <p style="text-align: center;"><img id="cloth-change" src="/templates/img/customer_desire/imgclothl_u313.png" style="width: 58%"></p>
                                    </div>
                                </div>
                                <div class="row collapse" id="smart-supply-chain" style="text-align: center;">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="col-md-3">
                                            <div class="bs-example">
                                                <div class="row">服装设计师</div>
                                                <div class="row"><a href="">黄亚东</a>(1/18)</div>
                                                <div style="height: 150px;">
                                                    <p style="text-align: center;"><img src="/templates/img/customer_desire/u49.jpg" style="max-height: 150px;max-width: 90%"></p>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <canvas id="myBarChart11" width="200px" height="150px"></canvas>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <canvas id="myLineChart1" width="200px" height="150px"></canvas>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <canvas id="myBarChart21" width="200px" height="150px"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="bs-example">
                                                <div class="row">服装生产商</div>
                                                <div class="row"><a href="">北京服装制造厂</a>(1/30)</div>
                                                <div style="height: 150px;">
                                                    <p style="text-align: center;"><img src="/templates/img/customer_desire/u47.jpg" style="max-height: 150px;max-width: 90%"></p>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <canvas id="myBarChart12" width="200px" height="150px"></canvas>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <canvas id="myLineChart2" width="180px" height="150px"></canvas>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <canvas id="myBarChart22" width="200px" height="150px"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="bs-example">
                                                <div class="row">物流集散中心</div>
                                                <div class="row"><a href="">北京5号仓库</a>(1/353)</div>
                                                <div style="height: 150px;">
                                                    <p style="text-align: center;"><img src="/templates/img/customer_desire/u46.png" style="max-height: 150px;max-width: 90%"></p>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <canvas id="myBarChart13" width="200px" height="150px"></canvas>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <canvas id="myLineChart3" width="180px" height="150px"></canvas>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <canvas id="myBarChart23" width="200px" height="150px"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="bs-example">
                                                <div class="row">门到门配送服务商</div>
                                                <div class="row"><a href="">顺风快递</a>(1/20)</div>
                                                <div style="height: 150px;">
                                                    <p style="text-align: center;"><img src="/templates/img/customer_desire/u45.jpg" style="max-height: 150px;max-width: 90%"></p>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <canvas id="myBarChart14" width="200px" height="150px"></canvas>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <canvas id="myLineChart4" width="180px" height="150px"></canvas>
                                                </div>
                                                <div class="row" style="text-align: center;">
                                                    <canvas id="myBarChart24" width="200px" height="150px"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row collapse" id="supply-chain">
                                    <div class="col-md-8 col-md-offset-2">
                                        <table class="table table-bordered table-striped table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>配件</th>
                                                    <th>进货时间</th>
                                                    <th>预计耗尽日期</th>
                                                    <th>持续时间</th>
                                                    <th>
                                                        <div class="row" style="text-align: center">
                                                            2016年02月
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-2">27</div>
                                                            <div class="col-md-2">28</div>
                                                            <div class="col-md-2">29</div>
                                                            <div class="col-md-2">1</div>
                                                            <div class="col-md-2">2</div>
                                                            <div class="col-md-2">3</div>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>发动机</td>
                                                    <td>2016/2/27</td>
                                                    <td>2016/4/27</td>
                                                    <td>61天</td>
                                                    <td>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                <span class="sr-only">60% Complete</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>发动机</td>
                                                    <td>2016/2/27</td>
                                                    <td>2016/4/27</td>
                                                    <td>61天</td>
                                                    <td>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                <span class="sr-only">60% Complete</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>发动机</td>
                                                    <td>2016/2/27</td>
                                                    <td>2016/4/27</td>
                                                    <td>61天</td>
                                                    <td>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                <span class="sr-only">60% Complete</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>发动机</td>
                                                    <td>2016/2/27</td>
                                                    <td>2016/4/27</td>
                                                    <td>61天</td>
                                                    <td>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                <span class="sr-only">60% Complete</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>发动机</td>
                                                    <td>2016/2/27</td>
                                                    <td>2016/4/27</td>
                                                    <td>61天</td>
                                                    <td>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                                <span class="sr-only">60% Complete</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="immediate"></div>
                            <div id="cycle"></div>
                            <div id="predict"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 我的供给 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align: center;">我的供给<span><img src="/templates/img/customer_who/me.png"></span></h4>
                </div>
                <div class="modal-body">
                    <div id="supply-step1">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="mytab">
                            <li role="presentation"><a href="#cloth" aria-controls="cloth" role="tab" data-toggle="tab">服装设计</a></li>
                            <li role="presentation" class="active"><a href="#logo" aria-controls="logo" role="tab" data-toggle="tab">LOGO设计</a></li>
                            <li role="presentation"><a href="#wrapper" aria-controls="wrapper" role="tab" data-toggle="tab">包装设计</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade" id="cloth">
                                <div class="container-fluid">
                                    <div class="row">
                                        <a class="col-md-4 col-xs-4 col-sm-4 items-sold" data-cloth-type="underwear">
                                            <p style="text-align: center;"><span><img src="/templates/img/customer_supply/u15.gif"></span></p>
                                            <div>紧身衣设计</div>
                                        </a>
                                        <a class="col-md-4 col-xs-4 col-sm-4 items-sold">
                                            <p style="text-align: center;"><span><img src="/templates/img/customer_supply/u34.gif"></span></p>
                                            <div>T恤设计</div>
                                        </a>
                                        <a class="col-md-4 col-xs-4 col-sm-4 items-sold">
                                            <p style="text-align: center;"><span><img src="/templates/img/customer_supply/u36.gif"></span></p>
                                            <div>羽绒服设计</div>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a class="col-md-4 col-xs-4 col-sm-4 items-sold">
                                            <p style="text-align: center;"><span><img src="/templates/img/customer_supply/u38.gif"></span></p>
                                            <div>卫衣设计</div>
                                        </a>
                                        <a class="col-md-4 col-xs-4 col-sm-4 items-sold">
                                            <p style="text-align: center;"><span><img src="/templates/img/customer_supply/u40.gif"></span></p>
                                            <div>球鞋设计</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade active" id="logo"></div>
                            <div role="tabpanel" class="tab-pane fade" id="wrapper"></div>
                        </div>
                    </div>
                    <div id="supply-step2" class="container">
                        <div id="underwear">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="3">紧身衣设计</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th rowspan="6">
                                            <p style="text-align: center;height: 400px"><img src="/templates/img/customer_supply/u15.gif" alt="" style="height: 100%"></p>
                                        </th>
                                        <th>产品名称</th>
                                        <td>创意图案T恤设计</td>
                                    </tr>
                                    <tr>
                                        <th>品牌</th>
                                        <td>Nike</td>
                                    </tr>
                                    <tr>
                                        <th>产品类别</th>
                                        <td>T恤</td>
                                    </tr>
                                    <tr>
                                        <th>设计日期</th>
                                        <td>xx年xx月xx日</td>
                                    </tr>
                                    <tr>
                                        <th>规格</th>
                                        <td>S/M/L</td>
                                    </tr>
                                    <tr>
                                        <th>价格</th>
                                        <td>45.00元</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">真实性</div>
                                    <div class="panel-body">
                                        <p>规范性：<span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span></p>
                                        <p>完整性：<span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span></p>
                                        <p>时效性：<span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span></p>
                                        <p>权威性：<span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">可靠性</div>
                                    <div class="panel-body">
                                        <p>产品品质：<span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span></p>
                                        <p>服务质量：<span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span></p>
                                        <p>性能价格：<span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span><span class="fui-star-2"></span></p>
                                        <p>主观评价：共55条评价</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">信誉值</div>
                                    <div class="panel-body">
                                        <p>质量证书：<span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></p>
                                        <p>主体可信度：<span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></p>
                                        <p>违章记录：<span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></p>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="6">信息详情</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>材质成分</th>
                                        <td>棉95% 聚氨酯弹性纤维</td>
                                        <th>流行元素</th>
                                        <td>涂鸦</td>
                                        <th>袖长</th>
                                        <td>短袖</td>
                                    </tr>
                                    <tr>
                                        <th>货号</th>
                                        <td>6168N</td>
                                        <th>服装版型</th>
                                        <td>修身</td>
                                        <th>年份季节</th>
                                        <td>XX年春季</td>
                                    </tr>
                                    <tr>
                                        <th>衣长</th>
                                        <td>常规款</td>
                                        <th>领型</th>
                                        <td>V领</td>
                                        <th>袖型</th>
                                        <td>常规</td>
                                    </tr>
                                    <tr>
                                        <th>风格</th>
                                        <td>通勤</td>
                                        <th>通勤</th>
                                        <td>韩版</td>
                                        <th>图案</th>
                                        <td>印花</td>
                                    </tr>
                                    <tr>
                                        <th>主要颜色</th>
                                        <td>白色 绿色</td>
                                        <th>尺码</th>
                                        <td>S/M/L</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="3">评价</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>买家1</td>
                                        <td>好评</td>
                                        <td>主要颜色：白色
                                            <br>尺码：M</td>
                                    </tr>
                                    <tr>
                                        <td>买家2</td>
                                        <td>一般</td>
                                        <td>主要颜色：绿色
                                            <br>尺码：S</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 我的空间 -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">我的需求</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-danger">
                        <div class="panel-heading">我的需求</div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>配件</th>
                                        <th>进货时间</th>
                                        <th>预计耗尽日期</th>
                                        <th>持续时间</th>
                                        <th>
                                            <div class="row" style="text-align: center">
                                                2016年02月
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">27</div>
                                                <div class="col-md-2">28</div>
                                                <div class="col-md-2">29</div>
                                                <div class="col-md-2">1</div>
                                                <div class="col-md-2">2</div>
                                                <div class="col-md-2">3</div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>发动机</td>
                                        <td>2016/2/27</td>
                                        <td>2016/4/27</td>
                                        <td>61天</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>发动机</td>
                                        <td>2016/2/27</td>
                                        <td>2016/4/27</td>
                                        <td>61天</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>发动机</td>
                                        <td>2016/2/27</td>
                                        <td>2016/4/27</td>
                                        <td>61天</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>发动机</td>
                                        <td>2016/2/27</td>
                                        <td>2016/4/27</td>
                                        <td>61天</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>发动机</td>
                                        <td>2016/2/27</td>
                                        <td>2016/4/27</td>
                                        <td>61天</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 我 -->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align: center;">我&nbsp;&nbsp;&nbsp;&nbsp;<span><img src="/templates/img/customer_who/me.png"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="4" style="text-align: center">基本信息</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>姓名</th>
                                        <td>沈建平</td>
                                        <th>身份证件类型</th>
                                        <td>二代身份证</td>
                                    </tr>
                                    <tr>
                                        <th>性别</th>
                                        <td>男</td>
                                        <th>身份证件号</th>
                                        <td>310108198312091359</td>
                                    </tr>
                                    <tr>
                                        <th>联系地址</th>
                                        <td>清华大学青年公寓20宿舍1单元102</td>
                                        <th>邮政编码</th>
                                        <td>100084</td>
                                    </tr>
                                    <tr>
                                        <th>联系电话</th>
                                        <td>13817741929</td>
                                        <th>行政区划代码</th>
                                        <td>110108</td>
                                    </tr>
                                    <tr>
                                        <th>电子邮箱</th>
                                        <td>shenjianping@tsinghua.edu.cn</td>
                                        <th>身份证件扫描件</th>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p style="text-align: center;"><span><img src="/templates/img/customer_who/me_body.gif" alt=""></span></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">保存设定</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p style="text-align: center;">&copy; Company 2015</p>
    </footer>
    <!-- /container -->
    <script src="/templates/js/vendor/jquery-1.11.2.min.js"></script>
    <script src="/templates/js/vendor/bootstrap.min.js"></script>
    <script src="/templates/js/vendor/flat-ui.js"></script>
    <script src="/templates/js/vendor/sco.modal.js"></script>
    <script src="/templates/js/vendor/video.js"></script>
    <script src="/templates/js/vendor/Chart.js"></script>
    <script src="/templates/js/main.js"></script>
    <script type="text/javascript" charset="utf-8" async defer>
    //评价
    var linedata1 = {
        labels: ["供应商1","供应商2","供应商3","供应商4","供应商5"],
        datasets: [{
            label: "My First dataset",
            fillColor: "rgba(120,120,120,0.2)",
            strokeColor: "rgba(120,120,120,1)",
            pointColor: "rgba(120,120,120,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(120,120,120,1)",
            data: [5,4.5,5,5,4.5],
        }]
    };
    var linedata2 = {
        labels: ["供应商1","供应商2","供应商3","供应商4","供应商5"],
        datasets: [{
            label: "My First dataset",
            fillColor: "rgba(120,120,120,0.2)",
            strokeColor: "rgba(120,120,120,1)",
            pointColor: "rgba(120,120,120,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(120,120,120,1)",
            data: [5,5,4.5,5,4.5],
        }]
    };
    var linedata3 = {
        labels: ["供应商1","供应商2","供应商3","供应商4","供应商5"],
        datasets: [{
            label: "My First dataset",
            fillColor: "rgba(120,120,120,0.2)",
            strokeColor: "rgba(120,120,120,1)",
            pointColor: "rgba(120,120,120,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(120,120,120,1)",
            data: [4.5,4.5,5,4.5,4.5],
        }]
    };
    var linedata4 = {
        labels: ["供应商1","供应商2","供应商3","供应商4","供应商5"],
        datasets: [{
            label: "My First dataset",
            fillColor: "rgba(120,120,120,0.2)",
            strokeColor: "rgba(120,120,120,1)",
            pointColor: "rgba(120,120,120,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(120,120,120,1)",
            data: [4.5,5,4.5,4.5,5],
        }]
    };

    //价格
    var bardata11 = {
    labels: ["供应商1","供应商2","供应商3","供应商4","供应商5"],
    datasets: [{
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [210,199,190,200,210]
        }]
    };
    var bardata12 = {
    labels: ["供应商1","供应商2","供应商3","供应商4","供应商5"],
    datasets: [{
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [125,130,135,120,135]
        }]
    };
    var bardata13 = {
    labels: ["供应商1","供应商2","供应商3","供应商4","供应商5"],
    datasets: [{
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [125,130,135,120,135]
        }]
    };
    var bardata14 = {
    labels: ["供应商1","供应商2","供应商3","供应商4","供应商5"],
    datasets: [{
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: [80,85,95,85,95]
        }]
    };

    //销量
    var bardata21 = {
    labels: ["供应商1","供应商2","供应商3","供应商4","供应商5"],
    datasets: [{
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [125,130,135,120,135]
        }]
    };
    var bardata22 = {
    labels: ["供应商1","供应商2","供应商3","供应商4","供应商5"],
    datasets: [{
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [125,130,135,120,135]
        }]
    };
    var bardata23 = {
    labels: ["供应商1","供应商2","供应商3","供应商4","供应商5"],
    datasets: [{
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [210,199,190,200,210]
        }]
    };
    var bardata24 = {
    labels: ["供应商1","供应商2","供应商3","供应商4","供应商5"],
    datasets: [{
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.5)",
            strokeColor: "rgba(151,187,205,0.8)",
            highlightFill: "rgba(151,187,205,0.75)",
            highlightStroke: "rgba(151,187,205,1)",
            data: [125,130,135,120,135]
        }]
    };
    // Chart.defaults.global.showScale = false;
    for (var i = 1; i <= 4; i++) {
        var ctx = $("#myLineChart"+i)[0].getContext("2d");
        var myNewChart = new Chart(ctx).Line(eval('linedata'+i));
    }
    for (var i = 1; i <= 4; i++) {
        var ctx = $("#myBarChart1"+i)[0].getContext("2d");
        var myNewChart = new Chart(ctx).Bar(eval('bardata1'+i));
    }
    for (var i = 1; i <= 4; i++) {
        var ctx = $("#myBarChart2"+i)[0].getContext("2d");
        var myNewChart = new Chart(ctx).Bar(eval('bardata2'+i));
    }
    </script>
</body>

</html>
