<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>新电商</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/templates/apple-touch-icon.png">
    <link rel="shortcut icon" href="/templates/favicon.ico">
    <link rel="bookmark" href="/templates/favicon.ico">
    <link rel="stylesheet" href="/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="/templates/css/flat-ui.min.css">
    <link rel="stylesheet" href="/templates/css/main.css">
</head>

<body>
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="4" style="text-align: center">基本信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>姓名</th>
                        <td>沈建平</td>
                        <th>身份证件类型</th>
                        <td>二代身份证</td>
                    </tr>
                    <tr>
                        <th>性别</th>
                        <td>男</td>
                        <th>身份证件号</th>
                        <td>310108198312091359</td>
                    </tr>
                    <tr>
                        <th>联系地址</th>
                        <td>清华大学青年公寓20宿舍1单元102</td>
                        <th>邮政编码</th>
                        <td>100084</td>
                    </tr>
                    <tr>
                        <th>联系电话</th>
                        <td>13817741929</td>
                        <th>行政区划代码</th>
                        <td>110108</td>
                    </tr>
                    <tr>
                        <th>电子邮箱</th>
                        <td>shenjianping@tsinghua.edu.cn</td>
                        <th>身份证件扫描件</th>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <p style="text-align: center;"><span><img src="/templates/img/customer_who/me_body.gif" alt=""></span></p> -->
        <div id="web3d_cloth" style="height:600px;width: 1000px;margin: auto">
    </div>
</body>
<script src="/templates/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/templates/js/vendor/pym.js"></script>
<script>
$(document).ready(function() {
    var pymChild = new pym.Child({
        id: 'iframe-customer-who'
    });
    $('img').load(function() {
        pymChild.sendHeight();
    });
    
});
</script>
<script src="/templates/js/main.js"></script>
<script src="/templates/cloth3/build/three.js"></script>
<script src="/templates/cloth3/build/JsonIndexLoader.js"></script>
<script src="/templates/cloth3/build/stats.min.js"></script>
<script src="/templates/cloth3/build/TrackballControls.js"></script>
<script src="/templates/cloth3/build/TransformControls.js"></script>
<script src="/templates/cloth3/build/Detector.js"></script>
<script>
var emppath = "/templates/cloth3/tsinghua2_ani";
if (!Detector.webgl) Detector.addGetWebGLMessage();
var container;
var camera, scene, renderer, controls, viewTransCtrl;

var mouseX = 0,
    mouseY = 0;
//var boxlen, bbspere;
var bbspere = new THREE.Sphere();

var sceneBoundingBox = new THREE.Box3();


var windowHalfX = window.innerWidth / 2;
var windowHalfY = window.innerHeight / 2;

var mixer;
var clock = new THREE.Clock();

init();
animate1();


function init() {

    //container = document.createElement('div');
    //var fatherDiv = document.getElementById('web3d_cloth');
    //fatherDiv.appendChild(container);
    container = document.getElementById('web3d_cloth');

    camera = new THREE.PerspectiveCamera(45, container.offsetWidth / container.offsetHeight, 0.1, 1000000);
    camera.position.z = 100;

    console.log("div size:", container.offsetWidth, container.offsetHeight);

    controls = new THREE.TrackballControls(camera);
    controls.rotateSpeed = 10.0;
    controls.zoomSpeed = 1.2;
    controls.panSpeed = 0.5;
    controls.noZoom = false;
    controls.noPan = false;
    controls.staticMoving = true;
    controls.dynamicDampingFactor = 0.3;
    controls.keys = [65, 83, 68];
    controls.addEventListener('change', render);

    sceneBoundingBox.makeEmpty();

    // scene

    scene = new THREE.Scene();

    //var ambient = new THREE.AmbientLight( 0x101030 );
    var ambient = new THREE.AmbientLight(0xffffff);
    scene.add(ambient);

    var directionalLight = new THREE.DirectionalLight(0xffffff, 0.5);
    directionalLight.position.set(1, 1, 1);
    directionalLight.intensity = 0.5;
    scene.add(directionalLight);


    // texture
    mixer = new THREE.AnimationMixer(scene);

    var manager = new THREE.LoadingManager();
    manager.onProgress = function(item, loaded, total) {

        //console.log( item, loaded, total );
    };

    var texture = new THREE.Texture();

    var onProgress = function(xhr) {
        if (xhr.lengthComputable) {
            var percentComplete = xhr.loaded / xhr.total * 100;
            //console.log( Math.round(percentComplete, 2) + '% downloaded' );
        }
    };

    var onError = function(xhr) {};

    var loader = new THREE.JSONLoader();
    var indexLoader = new THREE.JSONIndexLoader();
    indexLoader.load(emppath + '/index.js', function(jsonData) {
        //console.log('jsonData:', jsonData.guid.length);
        for (var i = 0; i < jsonData.guid.length; ++i) {
            var key = jsonData.guid[i];
            loader.load(emppath + '/' + key + '.js',
                //function( geometry, materials, pos, scale, rot) { createScene2( geometry, materials[0],  pos, scale, rot)}  
                function(geometry, materials, wts) {
                    createScene2(geometry, materials[0], wts)
                }
            );
        }
    });

    //function createScene2( geometry, material, pos, scale, rot) {
    function createScene2(geometry, material, wts) {

        geometry.computeBoundingBox();
        geometry.computeBoundingSphere();

        geometry.computeFaceNormals();
        geometry.computeVertexNormals();
        mesh1 = new THREE.Mesh(geometry, material);
        mesh1.name = geometry.name;
        mesh1.applyMatrix(wts);

        var bb = geometry.boundingBox;
        //bb.applyMatrix4(wts);
        sceneBoundingBox.expandByPoint(bb.min);
        sceneBoundingBox.expandByPoint(bb.max);

        bbspere = sceneBoundingBox.getBoundingSphere(); //sceneBoundingBox.getBoundingSphere();
        var bbcenter = sceneBoundingBox.center();
        var boxlen = bbspere.radius;


        {
            console.log(bb, bbspere, bbcenter, boxlen);
            bbcenter.set(0, 120, 0);
            //bbcenter = bb.center();
            camera.lookAt(bbcenter);
            controls.target.copy(bbcenter);
            camera.position.set(-278, 113, 224);
        }

        scene.add(mesh1);

        //console.log(  geometry );
        if (geometry.animations)
        //mixer.clipAction( geometry.animations[0], mesh1 )
        //      .setDuration( 10 )          // one second
        //      .startAt( 0/*- Math.random()*/ )    // random phase (already running)
        //      .play();                    // let's go
            mixer.clipAction(geometry.animations[0])
            .setDuration(5)
            .startAt(0 /*- Math.random()*/ ) // random phase (already running)
            .play(); // let's go
    }


    renderer = new THREE.WebGLRenderer({
        antialias: true,
        alpha: true
    });
    renderer.setClearColor(0x3a6ea5, 0); //lrt
    renderer.setPixelRatio(window.devicePixelRatio);
    renderer.setSize(container.offsetWidth, container.offsetHeight);
    container.appendChild(renderer.domElement);

}

function onWindowResize() {

    windowHalfX = container.offsetWidth / 2;
    windowHalfY = container.offsetHeight / 2;

    console.log('resize :', container.offsetWidth, container.offsetHeight);

    camera.aspect = windowHalfX / windowHalfY;
    camera.updateProjectionMatrix();

    renderer.setSize(container.offsetWidth, container.offsetHeight);

    controls.handleResize();

    //console.log(window.innerWidth, window.innerHeight);

}
scene3dArray['1'] = onWindowResize;

function onDocumentMouseMove(event) {

    mouseX = (event.clientX - windowHalfX) / 2;
    mouseY = (event.clientY - windowHalfY) / 2;
}

function onDocumentTouchMove(event) {
    mouseX = (event.clientX - windowHalfX) / 2;
    mouseY = (event.clientY - windowHalfY) / 2;

}

function animate1() {
    requestAnimationFrame(animate1);


    var vec3len = camera.position.distanceTo(bbspere.center);
    var lenmin = Math.max(0.1, vec3len - bbspere.radius);
    var lenMax = vec3len + bbspere.radius;
    //camera.near = lenmin;
    //camera.far = lenMax;

    //console.log(camera.near, camera.far, camera.position, bbspere.center);
    controls.update();

    var delta = clock.getDelta();
    if (mixer)
        mixer.update(delta);

    render();
}

function render() {

    renderer.render(scene, camera);

}
</script>

</html>
