<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>中视典数字科技 - WebVRP/Web3D/VRPIE/VRPHtml5 - 清华商务平台测试</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #000;
				color: #fff;
				margin: 0px;
				overflow: hidden;
			}
			#info {
				color: #fff;
				position: absolute;
				top: 10px;
				width: 100%;
				text-align: center;
				z-index: 100;
				display:block;
			}
			#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }
		</style>
	</head>

	<body>
		<div id="info">
		<a href="http://www.vistandard.com/" target="_blank">中视典数字科技 </a> - WebVRP/Web3D/VRPIE/VRPHtml5  - 清华商务平台测试
		</div>
		<div id="browseInfo">
		</div>

		<script src="/templates/cloth2/build/three.js"></script>
		<script src="/templates/cloth2/build/JsonIndexLoader.js"></script>
		<script src="/templates/cloth2/build/stats.min.js"></script>
		<script src="/templates/cloth2/build/TrackballControls.js"></script>
		<script src="/templates/cloth2/build/TransformControls.js"></script>
		<script src="/templates/cloth2/build/Detector.js"></script>

		<script>
		
			var emppath = "/templates/cloth2/tsinghua2_ani";
			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();
			var container;
			var container, stats;
			var camera, scene, renderer, controls, viewTransCtrl;

			var mouseX = 0, mouseY = 0;
			//var boxlen, bbspere;
			var bbspere = new THREE.Sphere();

			var sceneBoundingBox = new THREE.Box3();
			

			var windowHalfX = window.innerWidth / 2;
			var windowHalfY = window.innerHeight / 2;
			
			var mixer;
			var clock = new THREE.Clock();

			init();
			animate1();


			function init() {

				container = document.createElement( 'div' );
				document.body.appendChild( container );

				camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 0.1, 1000000 );
				camera.position.z = 100;

				controls = new THREE.TrackballControls( camera );
				controls.rotateSpeed = 10.0;
				controls.zoomSpeed = 1.2 ;
				controls.panSpeed = 0.5;
				controls.noZoom = false;
				controls.noPan = false;
				controls.staticMoving = true;
				controls.dynamicDampingFactor = 0.3;
				controls.keys = [ 65, 83, 68 ];
				controls.addEventListener( 'change', render );

				sceneBoundingBox.makeEmpty();

				// scene

				scene = new THREE.Scene();

				//var ambient = new THREE.AmbientLight( 0x101030 );
				var ambient = new THREE.AmbientLight( 0xffffff  );
				scene.add( ambient );

				var directionalLight = new THREE.DirectionalLight( 0xffffff, 2 );
				directionalLight.position.set( -1, -1, -1 );
				directionalLight.intensity  = 0.7;
				scene.add( directionalLight );


				// texture
				mixer = new THREE.AnimationMixer( scene );

				var manager = new THREE.LoadingManager();
				manager.onProgress = function ( item, loaded, total ) {

					//console.log( item, loaded, total );
				};

				var texture = new THREE.Texture();

				var onProgress = function ( xhr ) {
					if ( xhr.lengthComputable ) {
						var percentComplete = xhr.loaded / xhr.total * 100;
						//console.log( Math.round(percentComplete, 2) + '% downloaded' );
					}
				};

				var onError = function ( xhr ) {
				};

				var loader = new THREE.JSONLoader(  );
				var indexLoader = new THREE.JSONIndexLoader();
				indexLoader.load( emppath + '/index.js',  function( jsonData ) { 
				//console.log('jsonData:', jsonData.guid.length);
				for( var i = 0; i< jsonData.guid.length; ++i )
				{
					var key = jsonData.guid[i];
					loader.load( emppath + '/' + key +'.js',  
								//function( geometry, materials, pos, scale, rot) { createScene2( geometry, materials[0],  pos, scale, rot)}  
								function( geometry, materials, wts) { createScene2( geometry, materials[0],  wts)}  
								);
				}
			} );

				//function createScene2( geometry, material, pos, scale, rot) {
				function createScene2( geometry, material, wts) {
					mesh1 = new THREE.Mesh( geometry, material );
					mesh1.name = geometry.name;
					mesh1.applyMatrix( wts );
					
					geometry.computeBoundingBox();
					geometry.computeBoundingSphere();
					var bb = geometry.boundingBox;
					bb.applyMatrix4( wts );
					sceneBoundingBox.expandByPoint( bb.min );
					sceneBoundingBox.expandByPoint( bb.max );


					bbspere = sceneBoundingBox.getBoundingSphere(); //sceneBoundingBox.getBoundingSphere();
					var bbcenter = sceneBoundingBox.center();
					var boxlen = bbspere.radius;

					if( mesh1.name ==  "Mesh64")
					{
						bbcenter = bb.center();
						camera.lookAt(bbcenter);
						controls.target.copy( bbcenter );
						camera.position.set( -13, 5, -7);
					}	
					
					//camera.position.x =  bbcenter.x; //geometry.boundingBox.max.x *2 - geometry.boundingBox.min.x;
					//camera.position.y =  bbcenter.y; //geometry.boundingBox.max.y *2 - geometry.boundingBox.min.y;
					//camera.position.z =  sceneBoundingBox.max.z *2 - sceneBoundingBox.min.z;
						

					scene.add( mesh1 );
					
					//console.log(  geometry );
					if( geometry.animations)
						//mixer.clipAction( geometry.animations[0], mesh1 )
						//		.setDuration( 10 )			// one second
						//		.startAt( 0/*- Math.random()*/ )	// random phase (already running)
						//		.play();					// let's go
						mixer.clipAction( geometry.animations[0] )
								.setDuration( 190 )
								.startAt( 0/*- Math.random()*/ )	// random phase (already running)
								.play();					// let's go
				}


				renderer = new THREE.WebGLRenderer({antialias:true});
				renderer.setClearColor( 0x3a6ea5 ); //lrt
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				container.appendChild( renderer.domElement );

				window.addEventListener( 'resize', onWindowResize, false );
				window.addEventListener( 'keydown', function ( event ) {

					switch ( event.keyCode ) {

						case 81: // Q
							viewTransCtrl.setSpace( viewTransCtrl.space === "local" ? "world" : "local" );
							break;

						case 17: // Ctrl
							viewTransCtrl.setTranslationSnap( 100 );
							viewTransCtrl.setRotationSnap( THREE.Math.degToRad( 15 ) );
							break;

						case 87: // W
							viewTransCtrl.setMode( "translate" );
							break;

						case 69: // E
							viewTransCtrl.setMode( "rotate" );
							break;

						case 82: // R
							viewTransCtrl.setMode( "scale" );
							break;

						case 187:
						case 107: // +, =, num+
							viewTransCtrl.setSize( viewTransCtrl.size + 0.1 );
							break;

						case 189:
						case 109: // -, _, num-
							viewTransCtrl.setSize( Math.max( viewTransCtrl.size - 0.1, 0.1 ) );
							break;

					}

				});
				window.addEventListener( 'keyup', function ( event ) {

					switch ( event.keyCode ) {

						case 17: // Ctrl
							viewTransCtrl.setTranslationSnap( null );
							viewTransCtrl.setRotationSnap( null );
							break;

					}

				});
				
				stats = new Stats();
				stats.domElement.style.position = 'absolute';
				stats.domElement.style.top = '0px';
				container.appendChild( stats.domElement );


			}

			function onWindowResize() {

				windowHalfX = window.innerWidth / 2;
				windowHalfY = window.innerHeight / 2;

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

				controls.handleResize();

				//console.log(window.innerWidth, window.innerHeight);

			}

			function onDocumentMouseMove( event ) {

				mouseX = ( event.clientX - windowHalfX ) / 2;
				mouseY = ( event.clientY - windowHalfY ) / 2;
			}
			function onDocumentTouchMove( event ) {
				mouseX = ( event.clientX - windowHalfX ) / 2;
				mouseY = ( event.clientY - windowHalfY ) / 2;

			}

			function animate1() {
				requestAnimationFrame( animate1 );

 
				var vec3len = camera.position.distanceTo( bbspere.center);
				var lenmin = Math.max(1.0, vec3len - bbspere.radius );
				var lenMax = vec3len + bbspere.radius;
				camera.near =  lenmin ;
				camera.far = lenMax ;

				//console.log(camera.near, camera.far, camera.position, bbspere.center);
				controls.update();
				stats.update();
				
				var delta = clock.getDelta();
				if( mixer)
					mixer.update( delta );
					
				render();
			}

			function render() {

				renderer.render( scene, camera );

			}

		</script>

	</body>
</html>
